@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

.admin-apo-page {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    min-height: 100vh;
    gap: 20px;
    align-items: center;
    background-image: url("../assets/accesscheds/accessschedbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.admin-apo-main-text {
    color: white;
    font-size: 40px;
    text-align: justify;
    font-family: "Montserrat";
    font-weight: bolder;
    margin-left: 100px;
}

.admin-upcoming-apo-main-text {
    color: white;
    font-size: 40px;
    text-align: justify;
    font-family: "Montserrat";
    font-weight: bolder;
    margin-left: 270px;
}

.admin-apo-no-appointments {
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding: 20px;
    border: 1px dashed #fff;
    max-width: 1000px;
    margin-top: 100px;
    margin-left: 300px;
}

.admin-apo-no-appointments a {
    text-decoration: none;
    color: blue;
}

.admin-apo-table-container {
    width: 100%;
    max-width: 799px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 550px;
}

.admin-pending-table-container {
    width: 100%;
    max-width: 815px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 550px;
}

.admin-upcoming-apo-table-container {
    width: 100%;
    max-width: 812px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 480px;
}

.admin-upcoming-apo-table {
    word-break: 100%;
    border-collapse: collapse;
    font-family: "Montserrat", sans-serif;
}

.admin-upcoming-apo-table th, .admin-upcoming-apo-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.admin-upcoming-apo-table th {
    background-color: #2E2E2E ;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.admin-upcoming-apo-table tr:hover {
    background-color: #add8e6;
}

.admin-upcoming-apo-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.admin-upcoming-apo-table td {
    font-size: 14px;
}

.admin-apo-table {
    word-break: 100%;
    border-collapse: collapse;
    font-family: "Montserrat", sans-serif;
}

.admin-apo-table th, .admin-apo-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.admin-apo-table th {
    background-color: #2E2E2E ;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.admin-apo-table tr:hover {
    background-color: #add8e6;
}

.admin-apo-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.admin-apo-table td {
    font-size: 14px;
}

.button-gap {
    margin-right: 3px; 
}

.admin-apo-btn {
    background-color: #2E2E2E;
    padding: 2px 3px;
}

/* General styles for messages container */
.messages-container {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    color: white;
}

.alert-success {
    background-color: #28a745; /* Green for success */
}

.alert-error {
    background-color: #dc3545; /* Red for error */
}

.alert-info {
    background-color: #17a2b8; /* Blue for info */
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  .overlay {
    background: rgba(49,49,49,0.8);
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  
  .modal button{
    margin-top: 5px;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .home-btn {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    text-decoration: none; 
}

.home-btn-button {
    background-color: black; 
    color: white; 
    padding: 5px 10px;
    font-size: 14px;
    font-family: "Montserrat";
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-btn-button:hover {
    background-color: rgb(113, 97, 97); 
}