@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

html, body {
  margin: 0;
  height: 100%;
}

.home-page {
  background-image: url("../assets/home/homedog.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; /* Ensure the page content stays above the background */
}

.home-page .offcanvas {
  z-index: 1050; /* Ensure the sidebar is above the content */
}

.home-middle {
  width: 100%;
  height: 100%;
  position: relative; /* This ensures it doesn't get covered by the background */
  z-index: 1; /* Ensure the middle content stays above the background */
}

.home-bottom {
  width: 100%;
  height: 100%;
  background-color: rgb(248, 248, 232);
  position: relative; /* Ensure it doesn’t get covered by the background */
  z-index: 1; /* Ensure the bottom section stays above the background */
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}