{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Getting Started</title>
    <link rel="stylesheet" href="{% static 'css/onboarding.css' %}">
    <link rel="stylesheet" href="{% static 'css/LoadingIndicator.css' %}">

</head>
<body>
    <div class="getting-started-page">
        <div class="getting-started-content">
            <h1>Getting Started</h1>
            <p>Fill up your personal information so we can contact you for your appointments</p>
            <div class="gs-buttons">
                <button class="set-up-btn">
                    <a href="/onboarding">
                        Set Up
                    </a>
                </button>
                <button class="skip-btn" id="skip-btn">
                    Skip
                </button>
            </div>
        </div>

        <div id="skip-modal" class="modal hidden">
            <div class="overlay" onclick="toggleModal()"></div>
            <div class="modal-content">
                <h2>You skipped the setup!</h2>
                <p>You will be asked again after logging in.</p>

                <div class="loading-container">
                    <div class="loader"></div>
                </div>

                <div id="loading-indicator-container">
                    <button class="home-btn" onclick="handleUnderstand()">
                        I Understand
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        let modal = document.getElementById("skip-modal");
        modal.classList.add("hidden");  

        let skipBtn = document.getElementById("skip-btn");

        skipBtn.addEventListener("click", function() {
            modal.classList.remove("hidden"); 
            document.body.classList.add("active-modal");
        });

        function toggleModal() {
            modal.classList.add("hidden");
            document.body.classList.remove("active-modal");
        }


        function handleUnderstand() {
            const loadingContainer = document.querySelector('.loading-container');
            const homeBtn = document.querySelector('.home-btn');
        
            homeBtn.style.display = 'none';
            loadingContainer.style.display = 'flex';
        
            setTimeout(function() {
                window.location.href = "{% url 'home' %}";
            }, 2000);
        }
    </script>
</body>
</html>
